.investment-card {
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  width: 100%;  
  box-sizing: border-box;
  
  &:hover {
    transform: translateY(-5px);
  }

  h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    font-weight: normal;
    color: #333;
    margin: 5px 0;
  }
}
