.investments-page {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 1300px; 
  margin: 0 auto;
}

.investment-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 1200px; 
}

@media (max-width: 1200px) {
  .investment-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .investment-list {
    grid-template-columns: 1fr; 
  }
}
